/Guia2_Ejercicio2/build/
/Guia2_Ejercicio3/build/
/Guia2_Ejercicio4/build/
/Guia2_Ejercicio5/build/
/Guia2_Ejercicio6/build/
/Guia2_Ejercicio7/build/
/Guia2_Ejercicio8/build/
/Guia2_Ejercicio9/build/
/Guia2_Ejercicio10/build/
/Guia2_Ejercicio09/nbproject/private/
/Guia2_Ejercicio12/nbproject/private/
